.bold-label{
    font-weight:bold;
} 

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
  
    #main-menu {
    background-color: #2E3039;
}
    
.list-group-item {
    background-color: #34495e;
    border-top:1px solid white;
    border-right:none;
    border-left:none;
}

a.list-group-item {
    color: #FFF;
    cursor: pointer;
}

a.list-group-item:hover,
a.list-group-item:focus {
    background-color: #1abc9c;
} /*green*/

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    color: #FFF;
    background-color: #1abc9c;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.list-group-level1 .list-group-item {
    padding-left:30px;
}

.list-group-level2 .list-group-item {
    padding-left:60px;
}
    .no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
   @media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    .dropdown-menu{
          background-color:#0076b4;   
        border:none;
        width:auto;
        color:white;
    }
    .dropdown-menu > li> a{
                color:white;
            }
    .dropdown-menu > li> a:hover{
                color:#0076b4;
                background-color:white;
        padding:0
            }
}
    @media (min-width: 768px){
    .container-border {
        border-right:1px solid black;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
   
}

.modal-content-attach table td { 
    padding: 5px;
     border: 1px solid #34495e;
}
 
.modal-content-attach {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-content-invoice {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-header-invoice {
  padding: 8px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-footer-invoice {
  padding: 8px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.notes table, th, td {
    border: 1px solid #34495e;
 
}

.notes td {
    border: 1px solid #34495e;
    padding-left:5px;
   
}

.notes th {
    padding:5px;
    text-align:center;
}

div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.notes a{
    color:#34495e;
}

.insurance table, th, td {
    border:none;
    padding:0;
}
